annotated-types==0.7.0
certifi==2025.4.26
charset-normalizer==3.4.2
flake8==7.2.0
idna==3.10
iniconfig==2.1.0
mccabe==0.7.0
mypy==1.15.0
mypy_extensions==1.1.0
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pandas-stubs==2.2.3.250308
pluggy==1.6.0
pycodestyle==2.13.0
pydantic==2.11.5
pydantic_core==2.33.2
pyflakes==3.3.2
pytest==8.3.5
pytest-testdox==3.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
six==1.17.0
types-pytz==2025.2.0.20250516
types-requests==2.32.0.20250515
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
